@model TimelyTastes.Models.Listing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Action("GetImage", "Listings", new { id = Model.Id })" alt="Listing Image"
                style="max-width:100px; max-height:100px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableUntil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableUntil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>