@model IEnumerable<TimelyTastes.Models.Vendors>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodVariety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedMeals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalReviews)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action("GetImage", "Vendors", new { id = item.VendorID })" alt="Vendor Logo"
                        style="max-width:100px; max-height:100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biography)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopOwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodQuality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodVariety)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SavedMeals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalReviews)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VendorID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VendorID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VendorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>